@model IEnumerable<TM_IssueTracker.Models.Comment>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

<p>
    @Html.RouteLink("Back to Issues", "Issues", new { pid = ((TM_IssueTracker.Models.Project)(ViewBag.Project)).Id, state = ((TM_IssueTracker.Classes.PageInfo)Session["Issues_vc"]).State, page = ((TM_IssueTracker.Classes.PageInfo)Session["Issues_vc"]).Page, search = ((TM_IssueTracker.Classes.PageInfo)Session["Issues_vc"]).Search })
</p>
